.THIS .rowCss {
    color: #2574a9;
    text-overflow: ellipsis;
}

.THIS table td{
    border-bottom: 1px solid #d4d4d4;
    padding :0.5rem;
}

.THIS .componentDiv{
    display: block;
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
}

.THIS .header{
    padding: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #d4d4d4;
    background: padding-box rgb(250, 250, 249);
}

.THIS .headerText{
    display: inline-block;
    vertical-align: middle;
}

.THIS .tableCss{
    table-layout: fixed;
}
.THIS .tableCss td{
    overflow-wrap: break-word;
}